= dark_container do
    - if notice.present?
        %p#notice.alert.alert-info= notice

    %h1.mb-4.text-info.border-bottom.pb-2 Task details

    %dl.row.mb-4
        %dt.col-sm-3 Subject:
        %dd.col-sm-9= @task.subject

        %dt.col-sm-3 Description:
        %dd.col-sm-9= @task.description

        %dt.col-sm-3 Status:
        %dd.col-sm-9= @task.status
        
        %dt.col-sm-3 Assigned User:
        %dd.col-sm-9= @task.user&.email
        
        %dt.col-sm-3 Project
        %dd.col-sm-9= @task.project&.name

    %h3.mt-5.mb-3.text-info.border-bottom.pb-2 Attachments

    - if @task.attachments.any?
        .row.row-cols-1.row-cols-md-2.g-3.mb-2
            - @task.attachments.each do |attachment|
                .col
                    .container.border.border-info.rounded.text-white.h-100.p-2
                        .card-body.d-flex.flex-column.justify-content-between
                            %div
                                %h5.card-title
                                    📎
                                    = link_to attachment.file.filename.to_s, rails_blob_path(attachment.file, disposition: "attachment"), target: "_blank", class: "text-white text-decoration-underline"
                                - if attachment.description.present?
                                    %p.card-text.text-light.mt-2= attachment.description
                            %div.mt-3
                                = link_to "Download", rails_blob_path(attachment.file, disposition: "attachment"), target: "_blank", class: "btn btn-sm btn-outline-light"
    - else
        %p.text-info No attachments yet.

    
    - if params[:from] == 'user'
        = link_to 'Back', user_path(@task.user), class: "btn btn-outline-primary"
    - else
        = link_to 'Back', project_path(@task.project), class: "btn btn-outline-primary"
