= dark_container do
    %p#notice= notice

    %p
        %b Subject:
        = @task.subject
    %p
        %b Description:
        = @task.description
    %p
        %b Status:
        = @task.status
    %p
        %b User:
        = @task.user
    %p
        %b Project:
        = @task.project

    %h3.mt-4.text-info Attachments

    - if @task.attachments.any?
        .row.row-cols-1.row-cols-md-2.g-3.mb-2
            - @task.attachments.each do |attachment|
                .col
                    .container.border.border-info.rounded.text-white.h-100.p-2
                        .card-body.d-flex.flex-column.justify-content-between
                            %div
                                %h5.card-title
                                    📎
                                    = link_to attachment.file.filename.to_s, rails_blob_path(attachment.file, disposition: "attachment"), target: "_blank", class: "text-white text-decoration-underline"
                                - if attachment.description.present?
                                    %p.card-text.text-light.mt-2= attachment.description
                            %div.mt-3
                                = link_to "Download", rails_blob_path(attachment.file, disposition: "attachment"), target: "_blank", class: "btn btn-sm btn-outline-light"
    - else
        %p.text-info No attachments yet.

    
    - if params[:from] == 'user'
        = link_to 'Back', user_path(@task.user), class: "btn btn-outline-primary"
    - else
        = link_to 'Back', project_path(@task.project), class: "btn btn-outline-primary"
