= dark_container do
    %h1.mb-4.text-info User details 
    %p#notice= notice

    %p
        %b Avatar:
        - if @user.avatar.attached?
            = image_tag url_for(@user.avatar), class: "rounded_circle", size: "50x50"
        - else 
            = image_tag "/images/default_avatar.jpg", class: "rounded-circle", size: "50x50"
    %p
        %b First name:
        = @user.first_name
    %p
        %b Last name:
        = @user.last_name
    %p
        %b Email:
        = @user.email
    %p
        %b Address 
        = @user.address

    = link_to 'Edit', edit_user_registration_path(@user), class: "btn btn-outline-warning"
    
    = link_to 'Back', users_path, class: "btn btn-outline-primary"
