= dark_container do
  %h1.mb-4.text-info Listing Projects
  
  = search_form_for @q, url: projects_path, method: :get, html: { class: "mb-4" }, builder: SimpleForm::FormBuilder do |f|
    .row.mb-3 
      .col-md-6
        = f.input :name_cont, label: "Name contains", input_html: { class: "form-control" }
      .col-md-6 
        = f.input :description_cont, label: "Description contains", input_html: { class: "form-controll" }
    .text-end 
      = f.button :submit, "Find", class: "btn btn-primary"
      = link_to "Reset", projects_path, class: "btn btn-outline-info ms-2"

  .table-responsive
    %table.table.table-hover.table-dark.table-striped.table-bordered.rounded
      %thead
        %tr
          %th Name
          %th Description
          %th Created at
          %th Tasks count
          %th.text-center Actions

      %tbody
        - @projects.each do |project|
          %tr
            %td.cursor-pointer
              = link_to project.name, project_path(project), class: "text-info"
            %td= project.description
            %td= project.created_at.strftime("%d.%m.%Y %H:%M")
            %td= project.tasks.count
            %td.text-center
              = link_to 'Show', project, class: "btn btn-sm btn-outline-info mx-1 my-1"
              = link_to 'Edit', edit_project_path(project), class: "btn btn-sm btn-outline-warning mx-1 my-1"
              = link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger mx-1 my-1"

  .mt-4.text-center
    = link_to '➕ New Project', new_project_path, class: "btn btn-primary btn-lg"
  
  .mt-3.mb-2.text-center
    = paginate @projects, params: { class: "btn btn-outline-light btn-sm mx-1"}
